{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="articleApp" lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE = edge">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1">

		<title>Articles</title>

		<!-- Bootstrap -->
		<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
		<script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
        <!--Angularjs scripts-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
	</head>
   
	<body ng-controller="articleCtrl" data-ng-init="init()">
		<div class="container">
			<div class="row clearfix">
				<!--Sidebar-->
				<div class="col-md-2 column">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row clearfix ">
                                <img width="100%" src="{% static 'article/images/envelop.jpeg' %}" alt="...">
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 column">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col col-md-10">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li role="presentation">
                                            <a href="#" class="thumbnail">
                                                <img width="50%" src="{% static 'article/images/envelop.jpeg' %}" alt="...">
                                                <span>Nav1</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#" class="thumbnail">
                                                <img width="50%" src="{% static 'article/images/envelop.jpeg' %}" alt="...">
                                                <span>Nav2</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#" class="thumbnail">
                                                <img  width="50%" src="{% static 'article/images/envelop.jpeg' %}" alt="...">
                                                <span>Nav3</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#" class="thumbnail">
                                                <img  width="50%" src="{% static 'article/images/envelop.jpeg' %}" alt="...">
                                                <span>Nav4</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				
				<!--Article display area-->
				<div class="col-md-10 column">
				    
                    <div ng-show="selected_article == ''">
                        <!-- random article display area -->
                        <div class="row clearfix">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {% verbatim %}{{random_article.title}}{% endverbatim %}
                                    </h3>
                                    </br>
                                    <span>{% verbatim %}{{random_article.publication_date}}{% endverbatim %}</span>
                                    <a href="/author/{% verbatim %}{{ random_article.author_id}}{% endverbatim %}"><span>{% verbatim %}{{random_article.author}}{% endverbatim %}</span>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <img width="100%" height="300px" src="{% verbatim %}{{random_article.hero_image}}{% endverbatim %}" alt="...">
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <p>
                                                {% verbatim %}{{random_article.body_text}}{% endverbatim %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Article list display area -->
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="article in all_articles">
                                        <a href="#" ng-click="load_article(article.id)">
                                        <div class="row clearfix">
                                            <div class="col-md-2 column">
                                                <span class="badge">{% verbatim %}{{article.id}}{% endverbatim %}</span>
                                            </div>
                                            <div class="col-md-10 column">
                                               <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">{% verbatim %}{{article.title}}{% endverbatim %}</h6>
                                                        <span>{% verbatim %}{{"by " + article.author}}{% endverbatim %}</span>
                                                        <span>{% verbatim %}{{" on " + article.publication_date}}{% endverbatim %}</span>
                                                    </div>
                                                    <div class="panel-body">
                                                        <p>
                                                            {% verbatim %}{{article.body_text}}{% endverbatim %}
                                                        </p>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selected_article != ''">
                        <div class="row clearfix">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {% verbatim %}{{selected_article.title}}{% endverbatim %}
                                    </h3>
                                    <button type="button" class="btn btn-default pull-right" ng-click="selected_article=''">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                    </button>
                                    </br>
                                    <span>{% verbatim %}{{selected_article.publication_date}}{% endverbatim %}</span>
                                    <a href="#" ng-click="show_author(selected_article.author_id)"><span>{% verbatim %}{{selected_article.author}}{% endverbatim %}</span>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <img width="100%" height="300px" src="{% verbatim %}{{selected_article.hero_image}}{% endverbatim %}" alt="...">
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-8 column">
                                        
                                            <p>
                                                {% verbatim %}{{selected_article.body_text}}{% endverbatim %}
                                            </p>
                                        </div>
                                        <div class="col-md-4 column">
                                            <img width="100%" height="100%" src="{% verbatim %}{{selected_article.additional_media}}{% endverbatim %}" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--"what to read next section"-->
					<div class="row clearfix">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title">
                                    What to read next
                                    
                                    <button type="button" class="btn btn-default pull-right" ng-click="get_random_articles_list()">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" ng-click="get_random_articles_list()">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </button>
                                </div>
							</div>
							<div class="panel-body">
								<ul class="nav nav-pills">
                                 <li ng-repeat="article in random_articles">
                                     <a href="#" class="thumbnail" ng-click="load_article(article.id)">
                                         <img width="100px" height="100px" src="{% verbatim %}{{article.hero_image}}{% endverbatim %}" alt="...">
                                         <span>{% verbatim %}{{article.title}}{% endverbatim %}</span>
                                     </a>
                                 </li>
                                </ul>
							</div>
						</div>
					</div>
				</div><!--Article display area>-->
			</div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src = "{% static 'article/custom_js/articleApp.js' %}"></script>
        <script src = "{% static 'article/custom_js/articleCtrl.js' %}"></script>
	</body>
</html>
